<footer data-am-widget="footer" class="am-footer am-footer-default noprint"  data-am-footer="{  }">
  <div class="am-footer-switch">
    
    <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">iChina</span>
    <span class="am-footer-divider"> | </span>
    <a id="godesktop" data-rel="desktop" class="am-footer-desktop" href="javascript:">
      意见反馈
    </a>
  </div>
  <div class="am-footer-miscs ">
    <p>©2016-2021 iChina 版权所有 蜀ICP备16032922</p>
  </div>
</footer>
