<!DOCTYPE html>
<html>
  <head>
    <title>iChina</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/x-ico" href="/assets/title.ico" />
    <meta charset="utf-8" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'login', media: 'all' %>
  </head>

  <body class="silver-bg">
    <%= yield %>
  </body>
</html>
